.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #15121e;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      #4b2346 0%,
      rgba(21, 18, 30, 0) 100%
    ),
    radial-gradient(50% 50% at 50% 50%, #44317d 0%, rgba(21, 18, 30, 0) 100%);
}

.app {
  margin-top: 6rem;
  width: 102.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
