* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-fill: #15121e;
  --card-fill: #1d1a27;
  --neon-purple: #905cff;
  --lilac: #9980cc;
  --border-purple: #413b53;
  --alt-white: #e9deff;
  --radius: 1.6rem;
  --round: 99rem;
  --inter: "Inter", sans-serif;
  --space: "Space Grotesk", sans-serif;
  --padding: 30px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
}
